<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main class="main-form">

        <section class="section-nosotros">

            <h1 class="titular-contacto2">Nosotros</h1>

            <h2 class="subtitulo-nosotros"> Somos DHRentals y tenemos el sonido que buscás.</h2>

            <p class="parrafo-contacto">Nuestra misión es que cada músico y cada sonidista logren el sonido que desea.
                Por ello, además de vender
                instrumentos musicales y equipos de sonido, disponemos de amplias propuestas para alquilar.</p>

            <h3 class="subtitulo-nosotros">En DH Rentals, tu presupuesto no es un impedimento.</h3>

            <h3 class="subtitulo-nosotros2"> En DHRentals somos apasionados del sonido como vos.</h3>


        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>